div.row
    span Toggle: 
    button#hobby-button Hobby
    button#travel-button Travel
    button#work-button Work Experiences

div.row
    span Goto: 
    button#hobby-goto Hobby
    button#travel-goto Travel
    button#work-goto Work Experiences    