h3 Portfolio
- var portfolio = contents['portfolio.json'].metadata
    h4= portfolio.name
    br
    p= portfolio.description
    br
    a(href=portfolio.link)
      img(src='images/' + portfolio.image)
    br

