h3 Work Experiences
each work in contents['work.json'].metadata
  div.row
    div.seven.columns
      b=work.company_name 
      span= ' | ' + work.city + ', ' + work.state
    div.seven.columns= 'Position: ' + work.position
    div.seven.columns= 'description: ' + work.description + '\n'
    div.three.columns
      img(src='images/' + work.image)
  br
