h3 Work Experiences
table.u-full-width   
  each work in contents['work.json'].metadata 
    thead
      tr
        th= work.year
        th= work.name
    tbody
      tr
        td 
        td= img(src='images/' + work.image) + work.detail